body {background: #5f747d}
a:link, a:visited {color: #444444;}
a:hover {color: #112453;}
#content {font-family: arial; width: 1000px; margin-left: auto; margin-right: auto; 
			background: #fff; border: 3px solid #bec0c0; min-height: 500px;}

#nav_menu {background: #bec0c0; font-size: 0.9em;}
#nav_menu td {padding: 0 9px 0 9px;}
/*#nav_menu td a {color: black; text-decoration: none; background: #bec0c0}*/
#nav_menu td a:link, a:visited {color: black; text-decoration: none;}
#nav_menu a:hover {color: #1b294b;}
#nav_menu table {border-collapse: collapse;}
td.tab {background: #5c9fbe; color: #dfe0e2;}

#header {height: 65px; /*border: 1px solid black*/; width: 100%; background: #5c9fbe; font-size: 0.85em;}
#login_info {float: right; padding: 3px 10px 0 0 ; color: #dfe0e2;}
#login_info a:link {color: #dfe0e2;}
#login_info a:visited {color: #dfe0e2;}
#page_title {float: right; padding: 0 10px 0 0; font-size: 0.9em; color: #444444;}
#yield {padding: 10px;}

