Choose wineries that this user can edit:
<table>
	<% @wineries.in_groups_of(3, false) do |winery_3| %>
		<tr>
			<% winery_3.each do |winery| %>
				<td><%= check_box_tag "wineries[]", winery[1], @user_wineries.include?(winery[1])%>&nbsp;<%= winery[0] %></td>
			<% end %>
		</tr>
	<% end %>
</table>