&copy; Stuart Henry, 2009 &nbsp;|&nbsp; 
<span id="sub_text">
	Powered by <%= link_to "Heroku", "http://heroku.com", :popup => true %> 
	and <%= link_to "Ruby on Rails", "http://rubyonrails.org", :popup => true %>
</span>