<% @page_title = "Winery Admin" %>
<table>
	<tr>
		<th>Name</th>
		<th>City</th>
		<th>State</th>
	</tr>
	<% @wineries.each do |winery| %>
		<tr>
			<td><%=h winery.name %></td>
			<td><%=h winery.city %></td>
			<td><%=h winery.state %></td>
		</tr>
	<% end %>
</table>
