<div id="home_links">
	<%= render :partial => 'home_links', :locals => { :current_user => @current_user } %>
</div>
<div id="home_shipments">
	<table class='sortable'>
		<tr>
			<th>Date</th>
			<th>From</th>
			<th>To</th>
			<th>Carrier</th>
			<th>Wine</th>
			<th>Loads</th>
			<th>Total Gals</th>
			<th width=71px>&nbsp;</th>
			<th>&nbsp;</th>
			<th colspan=2><%= controller.action_name == 'daily_group' ? (link_to_function "[hide]", hide_element) : '&nbsp;' %></th>
		</tr>
		<%= render :partial => 'shipments/shipment', :collection => @shipments %>
	</table>
</div>
